@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$body-color: rgba(175, 175, 255, 0.863);
body{
    background: url("https://www.belta.by/images/storage/news/with_archive/2020/000029_1607952649_420107_big.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: -1;
    backdrop-filter: blur(7px);
    background-size: cover;
    margin: 0px;
}

#icon-vk{
    color: #2787F5;
}
#icon-inst{
    color: rgb(174, 43, 226);
}

.contact-info{
    border: 2px solid rgb(0, 110, 255);
    display: inline-block;
    background-color: rgb(161, 255, 216);
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

.picture{
    outline: solid 5px #FC5185;
    transition: outline 0.6s linear;
    margin: 0.5em;
}

.block {
    display: flex;
    width: 500px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #ffd73e33;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

.white-font{
    color: aliceblue;
}

#button{
    display:block;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin: auto;
    font-size: large;
    background-color: rgb(118, 161, 0);
    border: 0ch;
    animation: anima 1s;    
}
button:active{
    animation: anima 1s;
}

#button:hover {
    transform: scale(1.1);
    transition: .8s;
}

@keyframes anima {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#text-box{
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
}

#main-border{
    border:10px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: #ffd73e33;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

a{
    text-decoration: none;
}



@media(max-device-wigth: 600px){
    .main{
        width: 120px;
    }
}